@{
    Layout = null;
}
@model IEnumerable<CleanEF.Models.Product>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    @foreach (var item in Model)
    {
        <p>@item.Name (@item.Price)</p>
    }
</body>
</html>