@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul>
    <li> +1 23456 67 </li>
    <li> user@user.com </li>
    <li> Address: 2345 stree jordan GHY45 </li>
</ul>