@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CleanRazonUI</title>
</head>
<body>
    <p>Id: @Model.Id</p>
    <p>Name: @Model.Name</p>
</body>
</html>
