@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutMain";
    ViewData["Title"] = "Index PAGE";
}
<div>
    <p>Id: @Model.Id</p>
    <p>Name: @Model.Name</p>
    <a asp-page="/Privacy" asp-area="RazorAdditional">Go privacy</a>

    <partial name="_ContactsEverywhere" />
</div>