
@{
    Layout = "_LayoutMain";
    ViewData["Title"] = "Send Requests Page";
}

<h3>Simple request form page</h3>
<p></p>
<form action="/Home/SendRequests" method="post">
    <label>Name</label>
    <input type="tel" name="name" />

    <label>Addresses</label>
    <input type="tel" name="address" />

    <label>Phone</label>
    <input type="tel" name="phone" />
    <br />

    <label>ad1</label>
    <input type="tel" name="addresses" />
    <br />

    <label>ad2</label>
    <input type="tel" name="addresses" />
    <br />

    <label>ad3</label>
    <input type="tel" name="addresses" />
    <br />

    <button type="submit">Send</button>
</form>

<br />
<br />

