<p>
    SOME TEXT FROM View VIA VIEWCOMPONENT
    Its Path is Views/Shared/Components/[ this name of  this ViewComponent folder]/Default.csthml
    And Return View(); from current ViewComponent Class
</p>
